@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

h1, h2, h3, h4 {
  font-family: 'Jeju Gothic';
}

body {
  font-family: 'Nanum Gothic';
}

/* 실질적인 각 내비게이션 메뉴들의 색상 등을 정의 */
#sidebar .list-group-item {
    background-color: #333333;
    color: #ffffff;
    border-color: #1c1c1c;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    white-space: nowrap;
}
/* 내비게이션을 아래 끝까지 나열 */
#sidebar .list-group {
    background-color: #333333;
    min-height: 100vh;
}
/* 메뉴를 선택했을 때  부모의 색상을 변경해 줌 */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #1c1c1c;
}
/* 메뉴를 선택했을 때 자식의 색상을 변경해 줌 */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #1c1c1c;
}
/* 작은 화면일 때 아이콘 선택을 가능케 함 */
#sidebar {
    overflow: hidden;
    z-index: 2;
}

#footer {
	background-color: #333333;
	color: #ffffff;
}

@media (max-width:768px) {
    /* 작은 화면에서는 왼쪽 내비게이션 너비를 정해진 크기로 설정 */
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(0px);
        position: fixed;
    }
    /* 작은 화면에서 서브 메뉴를 열었을 때 글자가 보이도록 함 */
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* 작은 화면에서 서브 메뉴를 열었을 때 정해진 너비로 보이게 함 */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    /* 작아졌을 때 아이콘을 가운데 정렬해 줌 */
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    #sidebar::-webkit-scrollbar { width: 0px; }
}

#main {
  height: 100vh;
  overflow-y: scroll;
}

@media (max-width:768px) {
  /* 작은 화면에서는 왼쪽 내비게이션 너비를 정해진 크기로 설정 */
  #main {
      margin-left: 38px;
  }
}

@media (max-width:560px) {
    .mobile {
      display: none;
    }
}

.boardTitle {
  background-color: #efefef;
  padding: 6px;
}

.boardContent {
  background-color: #efefef;
  height: 320px;
  overflow-y: scroll;
  padding: 6px;
}

/* 모달 팝업창 가운데 수직 정렬 */
.modal-dialog {
    -webkit-transform: translate(0,-50%) !important;
    -o-transform: translate(0,-50%) !important;
    transform: translate(0,-50%) !important;
    top: 50%;
    margin: 0 auto;
}